.main {
  width: 100%;

  .secTitle {
    .title {
      position: relative;
      width: max-content;
      color: var(--textColor);
      margin: 1rem 0;
      z-index: 2;

      &::after {
        position: absolute;
        content: '';
        background: var(--secondary-color);
        height: 5px;
        width: 120px;
        right: 0;
        bottom: 5px;
        z-index: -1;
      }
    }
  }

  .secContent {
    justify-content: center;
    gap: 1.5rem;

    .singleDestination {
      height: 100%;
      display: grid;
      row-gap: 10px;
      border-radius: 10px;
      align-items: center;
      background: var(--card-BG);
      box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
      overflow: hidden;

      &:hover {
        background: var(--card-hover);
        box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
        transition: .3s ease;
      }

      .imageDiv {
        height: 180px;
        width: 100%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: .8s ease;
        }

        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }

      .cardInfo {
        padding: 1rem;

        .destTitle {
          color: var(--black-color);
          font-size: 1.25rem;
        }

        .continent {
          gap: .5rem;

          .icon {
            color: var(--text-color);
            font-size: 20px;
          }

          .name {
            color: var(--text-color);
            font-weight: 400;
            font-size: 14px;
          }
        }

        .fees {
          width: 100%;
          justify-content: space-between;
          padding: 1rem;
          margin: 1rem 0;
          border-top: 1.5px solid var(--grey-text);
          border-bottom: 1.5px solid var(--grey-text);

          .grade {
            color: var(--text-color);
            max-width: 100px;
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            small {
              text-align: center;
              background: var(--gradient-color);
              border-radius: 1rem;
              color: var(--white-color);
              padding: 1px 10px;
              font-size: 10px;
            }
          }

          .price {
            font-size: 1.5rem;
            color: var(--black-color);
          }
        }

        .desc {
          font-size: 13.5px;
          color: var(--text-color);
          font-weight: 500;
        }

        .btn {
          margin-top: 1rem;
          color: var(--white-color);
          font-weight: 600;
          justify-content: space-between;
          gap: .5rem;

          .icon {
            align-items: center;
            font-size: 18px;
          }
        }
      }
    }
  }
}