.home {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: auto;
  
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(47, 106, 127);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
  }

  video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
  }

  .homeContent {
    width: 100%;
    height: max-content;
    padding: 8rem 1.5rem 3rem;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    color: var(--white-color);
    z-index: 100;

    .textDiv {
      padding: 2rem 0;

      .smallText {
        font-size: 13px;
        text-transform: uppercase;
      }

      .homeTitle {
        position: relative;
        font-size: 1.8rem;
      }
    }
  }

  .cardDiv {
    position: relative;
    padding: 2rem 1rem;
    background: var(--white-color);
    border-radius: 1rem;
    gap: 1rem;
  }

  label {
    display: block;
    color: var(--text-color);
    padding-bottom: 1rem;
    font-size: 13px;
    font-weight: 500;
  }

  .label_total {
    justify-content: space-between;
    
    .total {
      color: var(--text-color);
      font-size: 18px;
      padding-bottom: 1rem;
    }
  }

  .input {
    height: 40px;
    padding: 0 1rem;
    background: var(--input-color);
    border-radius: 2rem;

    input {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      font-size: 13px;
      font-weight: 500;

      &::placeholder {
        font-size: 13px;
      }
    }
  }
}